In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.1'

In [3]:
import pandas as x

In [4]:
x.__version__

'2.1.1'

In [5]:
# Creating a series

list_s=[1,2,-3,6.2,'data values']
print(list_s)

[1, 2, -3, 6.2, 'data values']

In [6]:
series=pd.Series(list_s)
series

0              1
1              2
2             -3
3            6.2
4    data values
dtype: object

In [7]:
type(series)

pandas.core.series.Series

In [8]:
# Creating new series

series2=pd.Series([1,2,3,4])
series2

0    1
1    2
2    3
3    4
dtype: int64

In [9]:
# Creating empty series

empty_s=pd.Series([])
print(empty_s)

Series([], dtype: object)

In [15]:
# How to change index value in series.

series3=pd.Series([1,2,3,4],index=['a','b','c','d'])
series3

a    1
b    2
c    3
d    4
dtype: int64

In [17]:
# How to change the data type in pandas.

series3=pd.Series([1,2,3,4],index=['a','b','c','d'],dtype=float)
series3

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [20]:
# How to add values in column.

series3=pd.Series([1,2,3,4],index=['a','b','c','d'],dtype=float,name="data Values")
series3

a    1.0
b    2.0
c    3.0
d    4.0
Name: data Values, dtype: float64

In [23]:
# How to create a series in single value(Scaler)

scaler_s=pd.Series(0.5)
scaler_s

0    0.5
dtype: float64

In [32]:
scaler_s=pd.Series(0.5, index=[1,2,3])
scaler_s

1    0.5
2    0.5
3    0.5
dtype: float64

In [36]:
# How to create dictionary by Series.

dict_s=pd.Series({'a':10,'b':20,'c':30},dtype=float)
dict_s

a    10.0
b    20.0
c    30.0
dtype: float64

In [37]:
# Understanding Operators.

s4=pd.Series([1,2,3,4,5])
s4

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [39]:
# Accessing element.
print(s4[0])

1

In [40]:
# Slicing an element.
s4

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [41]:
s4[0:3]

0    1
1    2
2    3
dtype: int64

In [42]:
# How to find maximum values in series.

s4

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [43]:
max(s4)

5

In [44]:
# How to find minimun values in series.
min(s4)

1

In [47]:
# How to use condition operators in series.

s4[s4<3]

0    1
1    2
dtype: int64

In [48]:
s4[s4>3]

3    4
4    5
dtype: int64

In [49]:
print(s4)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [50]:
s5=pd.Series([10,20,30,40,50])
s5

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [51]:
print(s4)
print(s5)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [52]:
# Adding two series

s4+s5

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [53]:
# Creating new Series Adding 

s6=pd.Series([1,2,3])
s6

0    1
1    2
2    3
dtype: int64

In [55]:
s4+s6

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64

# DataFrame

In [56]:
import pandas as pd

In [57]:
emp_df=pd.DataFrame()
print(emp_df)

Empty DataFrame
Columns: []
Index: []

In [60]:
# Creating a list

lst=['a','b','c','d']
print(lst)

['a', 'b', 'c', 'd']

In [61]:
# converting a list into a DataFrame

df1=pd.DataFrame(lst)
df1

   0
0  a
1  b
2  c
3  d

# Multiple column we create through list of list.

In [62]:
lst_of_lst=[[1,2,3],[4,5,6],[2,3,4]]
lst_of_lst

[[1, 2, 3], [4, 5, 6], [2, 3, 4]]

In [64]:
df2=pd.DataFrame(lst_of_lst)
df2

   0  1  2
0  1  2  3
1  4  5  6
2  2  3  4

In [69]:
# Creating pandas DataFrame from python dictionary(dictioanry of list)

# Creating Dictionary

dict1={'Id':[11,22,33,44],"Name":["Ram","Shyam","Laxman","Bharat"]}
dict1

{'Id': [11, 22, 33, 44], 'Name': ['Ram', 'Shyam', 'Laxman', 'Bharat']}

In [70]:
# Converting dictionary into DataFrame
df3=pd.DataFrame(dict1)
df3

   Id    Name
0  11     Ram
1  22   Shyam
2  33  Laxman
3  44  Bharat