In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.1'

In [3]:
import pandas as x

In [4]:
x.__version__

'2.1.1'

In [5]:
# Creating a series

list_s=[1,2,-3,6.2,'data values']
print(list_s)

[1, 2, -3, 6.2, 'data values']

In [7]:
series=pd.Series(list_s)
series

0              1
1              2
2             -3
3            6.2
4    data values
dtype: object

In [8]:
type(series)

pandas.core.series.Series

In [13]:
# Creating new series

series2=pd.Series([1,2,3,4])
series2

0    1
1    2
2    3
3    4
dtype: int64

In [14]:
# Creating empty series

empty_s=pd.Series([])
print(empty_s)

Series([], dtype: object)